*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff ;
	font-family: Helvetica, Arial, Roboto;
}
ul{
	float: right;
	list-style-type: none;
	margin: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 7px 15px;
}
ul li a:hover{
	text-decoration: none;
	background-color: #E5E7E9;
	color: #784212;
	border-radius: 2px;
}
.logo img{
	float: left;
	width: 50px;
	height: auto;
	margin: 10px;
	margin-left: 20px;
}
.Name{
	position: static;
	top: auto;
	color: #996633;
	margin: 5px;
	padding-top: 20px;
	padding-left: 11px;
}
h1{
	font-size: 55px;
	font-weight: bolder;
	color: #fff; 
	float: right;
}
.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;
}
.center1{
	display: inline-block;
    width: 50%;
    padding-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.Steps{
	font-size: 30px;
	font-weight: bold;
	color: #996633; 
	font-family: blacksword;
	padding-left: 25px;
	padding-top: 10px;
	margin-top: 10px;
}
.left{
	float: left;
	width: 75%;
}
.right{
	float: right;
	width: 25%;
	padding-left: 25px;
}
.righth1{
	float: right;
	margin-top: 150px;
	padding: 30px;
}
p .bold{
	font-size: bolder;
}
p{
	color: #996633; 
	padding-left: 25px;
	padding-top: 10px;
	margin-top: 10px;
}
footer{
	color: #996633;
	display: inline-block;
	text-align: center;
}
.btn{
	margin: 10px;
	padding: 10px;
	color: #996633;
}
.btn:hover{
	text-decoration: none;
	background-color: #E5E7E9;
	border-radius: 2px;
}
#more {
	display: none;
}
#more1{
	display: none;
}
h2{
	font-size: 60px;
	color: #fff;
	font-family: blacksword;
	padding-bottom: 20px;
}
.text-align-center{
	color: #996633;
	text-align: center;
}

